<%-
  include('partials/head', {
    head : head 
  });
%>
<body class="home">


  
      <nav><%- include('partials/topnav') %></nav>

       <%- body %>
  
       <div class="container-fluid" style="background:#f3f3f3">
        <div class="container-xl pt-5 pb-5" id ="pyydatarjous">
       <h2>Pyydä tarjous</h2>
       <%- include('partials/contact-form', {checkboxes:false}) %>
               </div>
       </div>
       
       
       <div class="container-xl mt-5">
       
       
       <%- include('partials/footer') %>
       
       </div>
       
       </div>

      
</body>