<%-
  include('partials/head', {
    head : head 
  });
%>
<body class="home">


  
      <nav><%- include('partials/topnav') %></nav>

       <%- body %>
  


      <div class="container-xl">

        <!---
      
        <div class="row align-items-center pb-5 mt-5 dashed-bottom">
            <div class="col-md-4">
              <p>
                <a href="<%- linkTo('/flex') -%>">
                  <img src="<%- AppRootURL -%>/assets/img/tdp-flex.png" class="img-fluid" />
                </a>
                
              </p> 
            </div>
  
            <div class="col-md-8">
              <h3>ICT-ympäristön hallinta - palvelusopimuksella</h3>
              <p>Tdp Flex&#8482; -palvelusopimus sopii pienellekin yritykselle mutta se kasvaa tarpeidesi mukaan.</p>
              <p>Palvelusopimuksen avulla saat organisaatiotason käyttäjähallinnan, etätuen, toimitukset ja asennukset, varalaitepalvelun ja paljon muuta. Tai vähän muuta.</p>
              <p><a class="btn btn-primary" href="<%- linkTo('/flex') -%>">Lue lisää Tdp Flex&#8482; -palvelusta</a></p>
             
            </div>
        </div>

        -->

        <div class="row mt-5" >
          
          <div class="col-md-6">
            <p>
                <img src="<%- assetSrc('img/tdp-it-palvelut-turvallinen.jpg') %>" class="img-fluid" />
            </p>
          </div>
          <div class="col-md-6">
            <h3>Turvalliset IT-palvelut myös etätyöntekijöille</h3>
            <p>
              Pidetään pyörät pyörimässä! Tampereen Datapisteen tarjoamat IT-palvelut ja -laitteet mahdollistavat toimivat yhteydet myös etätyöntekijöille. Ota yhteyttä niin keskustellaan lisää.
            </p> 
            <p>
              <a href="#pyydatarjous" class="btn-outline-secondary btn">Kysy lisää!</a>
            </p>
          </div>
  
        </div>


        <div class="row mt-5">

          <div class="card-group">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><a href="<%- linkTo('/it-laitteet/') %>">Laitehankinnat ja rahoitus</a></h5>
                  <p class="card-text">Oletko hankkimassa yrityksellesi tietokoneita tai muita IT-laitteita? Pyydä aina tarjous myös meiltä!</p>
                  <a class="btn btn-outline-secondary" href="<%- linkTo('/it-laitteet/') %>">Katso lisää</a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="<%- linkTo('/it-palvelut/') %>">IT-palvelusopimukset</a></h5>
                <p class="card-text">Haluatko ulkoistaa IT-palvelut? Tai hankkia asiantuntijan esimerkiksi yrityksen verkon toteuttamiseen? </p>
                <a class="btn btn-outline-secondary" href="<%- linkTo('/it-palvelut/') %>">Tutustu</a>      
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="<%- linkTo('/uusi-yrittaja/') %>">Uuden yrittäjän palvelut</a></h5>
                <p class="card-text">Mitä uusi yritys tarvitsee? Tietokoneiden lisäksi kauttamme saat domainit, sähköpostit ja liiketoimintasovellukset ja muut IT-palvelut.</p>
                <a class="btn btn-outline-secondary" href="<%- linkTo('/uusi-yrittaja/') %>">Lue lisää</a>
              </div>
            </div>
          </div>
        </div>



        
        

        <div class="row mt-5" >
          
          <div class="col-md-6">
            <p>
    
                <img src="<%- AppRootURL -%>/assets/img/tdp-office.jpg" class="img-fluid" />
       
            </p>
          </div>
          <div class="col-md-6">
            <h3>IT-palveluita vuodesta 2007</h3>
            <p>
               Tampereen Datapiste on vuonna 2007 perustettu IT-palveluyritys. Toimipisteemme sijaitsevat Tampereella ja Helsingissä mutta palvemme yrityksiä myös muualla Suomessa.
            </p>
            <p>
              Olemme 2007 perustettu IT-alan palveluyritys. Tehtävämme on toimittaa, asentaa ja edelleen kehittää yritysten todellisia tarpeita vastaavia IT-järjestelmiä.
            </p>
            <a class="btn-outline-primary btn" href="<%- linkTo('/yritys/') %>">Tietoa yrityksestä</a>
            <!--
                <button class="btn-outline-secondary btn">Tutustu asiakaskuvauksiin</button>
            -->
            
 

          </div>
  
        </div>

      
        
        <div class="row mt-5">
          <div class="col">
            <%- body -%>
          </div>
        </div>

      </div>



      <div class="container-fluid" style="background:#f3f3f3">
        <div class="container-xl pt-5 pb-5" id ="pyydatarjous">
            <h2>Pyydä tarjous</h2>
            <%- include('partials/contact-form', {checkboxes:false}) %>
        </div>
      </div>


    <div class="container-xl mt-5">


      <%- include('partials/footer') %>

    </div>

  </div>
</body>