<div class="row">
  <div class="col-6 col-md-2">
    <img class="img-fluid" src="<%- assetSrc('img/tdp-logo-nobg.png') %>" alt="Tampereen Datapiste logo" />
  </div>
  <div class="col-6 col-md-4">
    Yritysten tietotekniikan kumppani<br />
    <a href="mailto:yhteys@tdp.fi">yhteys@tdp.fi</a><br />
    <a href="tel:010-2921640">010-2921640</a>
  </div>
  <div class="col-12 col-md-6 footer-logos mt-4  mt-md-0 text-center text-md-right">
    <div id="footer-logos">

      <img src="<%- assetSrc('img/AAA-logo-2020-FI-transparent.png') %>" />
      <img src="<%- assetSrc('img/luotettavakumppani_250x124.jpg') %>" />
      <img src="<%- assetSrc('img/sy-jasenyritysbanneri-fi_250x124.jpg') %>" />
    </div>

  </div>

</div>
<div class="row mt-5 mb-4">
  <div class="col">
    <p>
      <small>
        Tampereen Datapisteen toimipisteet sijaitsevat Nokialla ja Helsingissä. Päätoimialueemme on Pirkanmaa (Tampere,
        Kangasala, Lempäälä, Nokia, Pirkkala, Ylöjärvi) sekä Helsinki ja muu pääkaupunkiseutu. Toimitamme laitteistoja
        koko Suomen alueella. Noudatamme palveluissa <a href="http://it-ehdot.fi/pdf/it2018-yse-yleiset-sopimusehdot">IT
          2018 sopimusehtoja</a>. Olemme asiakkaidemme IT-kumppani ja toimitamme edulliset ja tehokkaat
        tietokone-leasing ratkaisut yrityksille luotettavasti ja ammattitaidolla.
      </small>
    </p>
    <p>
      <small>
        <a href="<%- linkTo('/yritys/') %>">Yhteystiedot</a> | 
        <a href="<%- assetSrc('/pdf/Laskutustiedot.pdf') %>" target="_blank">Laskutustiedot</a> | 
        <a href="<%- linkTo('/yritys/hinnasto') %>">Palveluhinnasto</a> |
        <a href="<%- linkTo('/tuki') %>">Tuki</a>
      </small>
    </p>
  </div>
</div>
<!--Start of Tawk.to Script-->
<script>
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5c6fb42fa726ff2eea58eb89/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
  
